<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="org.tyszecki.rozkladpkp">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="PKPApplication">
        <activity android:name=".RozkladPKP" android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RememberedActivity">
        </activity>
        <activity android:name="TimetableActivity">
        </activity>
        <activity android:name="TimetableFormActivity">
        </activity>
        <activity android:name="ConnectionsFormActivity">
        </activity>
        <activity android:name="RouteActivity">
        </activity>
        <activity android:name="ConnectionListActivity">
        </activity>
        <activity android:name="ConnectionDetailsActivity">
        </activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 